In [11]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [12]:
!pip install tables

Requirement already satisfied: tables in /usr/local/lib/python3.6/dist-packages (3.4.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from tables) (1.11.0)
Requirement already satisfied: numexpr>=2.5.2 in /usr/local/lib/python3.6/dist-packages (from tables) (2.6.8)
Requirement already satisfied: numpy>=1.8.0 in /usr/local/lib/python3.6/dist-packages (from tables) (1.14.6)

In [0]:
import pandas as pd
import numpy as np
import json

In [0]:
#Path here

base_path = '/content/drive/My Drive/stocks_project/'
sp500_path = '/content/drive/My Drive/stocks_project/data/sp/^GSPC.csv'
created_data_path = base_path + 'data/created/data500.h5'
technical500_path = created_data_path + 'technical500.h5'
news_path = '/content/drive/My Drive/stocks_project/data/news/'

# Import Module

# Import technical Data

In [15]:
df = pd.read_hdf(technical500_path, "data")
#df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
#df.dropna(axis=0, inplace=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR
Date,,,,,,,,,,
1990-01-04,358.760010,358.760010,352.890015,355.670013,355.670013,177000000,-0.008650,0.000000,NaN,5.869995
1990-01-05,355.670013,355.670013,351.350006,352.200012,352.200012,158530000,-0.009804,-0.036878,NaN,4.320007
1990-01-08,352.200012,354.239990,350.540009,353.790009,353.790009,140110000,0.004504,-0.005628,NaN,3.699981
1990-01-09,353.829987,354.170013,349.609985,349.619995,349.619995,155210000,-0.011857,-0.100883,NaN,4.560028
1990-01-10,349.619995,349.619995,344.320007,347.309998,347.309998,175990000,-0.006629,-0.198862,NaN,5.299988

# Import News data and convert it from Json to pandas dataframe

In [0]:
def open_json(year, month):
    "Save as pandas dataframe"
    file_str = news_path + str(year) + '-' + '{:02}'.format(month) + '.json'
    with open(file_str) as data_file:    
        NYTimes_data = json.load(data_file)
    
    date_list = []
    df = pd.DataFrame()  
    df['News'] = None
    

    for i in range(len(NYTimes_data["response"]["docs"][:])):
        if NYTimes_data["response"]["docs"][i]["pub_date"][:10] not in df.index:
            df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = NYTimes_data["response"]["docs"][:][i]['headline']['main']
        else:
            df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]].values + NYTimes_data["response"]["docs"][:][i]['headline']['main']
    
    df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
    df.sort_index(inplace=True)
    
    return df

# Merge technical data with News

In [0]:
def merge_news_price(df):
    all_news = pd.DataFrame()
    for i in range(1990, 2019):
        for j in range(1, 13):
            try:
                temp = open_json(i, j)
                all_news = all_news.append(temp)
                print("Completed {}-{}".format(i, j))
            except:
                pass
            
    all_news = pd.concat([df, all_news], axis=1)
    
    return all_news

In [18]:
data = merge_news_price(df)

Completed 1990-1
Completed 1990-2
Completed 1990-3
Completed 1990-4
Completed 1990-5
Completed 1990-6
Completed 1990-7
Completed 1990-8
Completed 1990-9
Completed 1990-10
Completed 1990-11
Completed 1990-12
Completed 1991-1
Completed 1991-2
Completed 1991-3
Completed 1991-4
Completed 1991-5
Completed 1991-6
Completed 1991-7
Completed 1991-8
Completed 1991-9
Completed 1991-10
Completed 1991-11
Completed 1991-12
Completed 1992-1
Completed 1992-2
Completed 1992-3
Completed 1992-4
Completed 1992-5
Completed 1992-6
Completed 1992-7
Completed 1992-8
Completed 1992-9
Completed 1992-10
Completed 1992-11
Completed 1992-12
Completed 1993-1
Completed 1993-2
Completed 1993-3
Completed 1993-4
Completed 1993-5
Completed 1993-6
Completed 1993-7
Completed 1993-8
Completed 1993-9
Completed 1993-10
Completed 1993-11
Completed 1993-12
Completed 1994-1
Completed 1994-2
Completed 1994-3
Completed 1994-4
Completed 1994-5
Completed 1994-6
Completed 1994-7
Completed 1994-8
Completed 1994-9
Completed 1994-10
Completed 1994-11
Completed 1994-12
Completed 1995-1
Completed 1995-2
Completed 1995-3
Completed 1995-4
Completed 1995-5
Completed 1995-6
Completed 1995-7
Completed 1995-8
Completed 1995-9
Completed 1995-10
Completed 1995-11
Completed 1995-12
Completed 1996-1
Completed 1996-2
Completed 1996-3
Completed 1996-4
Completed 1996-5
Completed 1996-6
Completed 1996-7
Completed 1996-8
Completed 1996-9
Completed 1996-10
Completed 1996-11
Completed 1996-12
Completed 1997-1
Completed 1997-2
Completed 1997-3
Completed 1997-4
Completed 1997-5
Completed 1997-6
Completed 1997-7
Completed 1997-8
Completed 1997-9
Completed 1997-10
Completed 1997-11
Completed 1997-12
Completed 1998-1
Completed 1998-2
Completed 1998-3
Completed 1998-4
Completed 1998-5
Completed 1998-6
Completed 1998-7
Completed 1998-8
Completed 1998-9
Completed 1998-10
Completed 1998-11
Completed 1998-12
Completed 1999-1
Completed 1999-2
Completed 1999-3
Completed 1999-4
Completed 1999-5
Completed 1999-6
Completed 1999-7
Completed 1999-8
Completed 1999-9
Completed 1999-10
Completed 1999-11
Completed 1999-12
Completed 2000-1
Completed 2000-2
Completed 2000-3
Completed 2000-4
Completed 2000-5
Completed 2000-6
Completed 2000-7
Completed 2000-8
Completed 2000-9
Completed 2000-10
Completed 2000-11
Completed 2000-12
Completed 2001-1
Completed 2001-2
Completed 2001-3
Completed 2001-4
Completed 2001-5
Completed 2001-6
Completed 2001-7
Completed 2001-8
Completed 2001-9
Completed 2001-10
Completed 2001-11
Completed 2001-12
Completed 2002-1
Completed 2002-2
Completed 2002-3
Completed 2002-4
Completed 2002-5
Completed 2002-6
Completed 2002-7
Completed 2002-8
Completed 2002-9
Completed 2002-10
Completed 2002-11
Completed 2002-12
Completed 2003-1
Completed 2003-2
Completed 2003-3
Completed 2003-4
Completed 2003-5
Completed 2003-6
Completed 2003-7
Completed 2003-8
Completed 2003-9
Completed 2003-10
Completed 2003-11
Completed 2003-12
Completed 2004-1
Completed 2004-2
Completed 2004-3
Completed 2004-4
Completed 2004-5
Completed 2004-6
Completed 2004-7
Completed 2004-8
Completed 2004-9
Completed 2004-10
Completed 2004-11
Completed 2004-12
Completed 2005-1
Completed 2005-2
Completed 2005-3
Completed 2005-4
Completed 2005-5
Completed 2005-6
Completed 2005-7
Completed 2005-8
Completed 2005-9
Completed 2005-10
Completed 2005-11
Completed 2005-12
Completed 2007-12
Completed 2008-1
Completed 2008-2
Completed 2008-3
Completed 2008-4
Completed 2008-5
Completed 2008-6
Completed 2008-7
Completed 2008-8
Completed 2008-9
Completed 2008-10
Completed 2009-1
Completed 2009-2
Completed 2009-4
Completed 2009-7
Completed 2009-8
Completed 2009-9
Completed 2009-10
Completed 2009-11
Completed 2009-12
Completed 2010-1
Completed 2010-2
Completed 2010-5
Completed 2010-6
Completed 2010-7
Completed 2010-8
Completed 2010-9
Completed 2010-10
Completed 2010-11
Completed 2010-12
Completed 2011-1
Completed 2011-2
Completed 2011-3
Completed 2011-4
Completed 2011-5
Completed 2011-6
Completed 2011-7
Completed 2011-8
Completed 2011-9
Completed 2011-10
Completed 2011-11
Completed 2012-1
Completed 2012-3
Completed 2012-4
Completed 2012-5
Completed 2012-6
Completed 2012-7
Completed 2012-8
Completed 2012-9
Completed 2012-10
Completed 2012-11
Completed 2012-12
Completed 2013-1
Completed 2013-4
Completed 2013-5
Completed 2013-6
Completed 2013-7
Completed 2013-8
Completed 2013-9
Completed 2013-10
Completed 2013-11
Completed 2013-12
Completed 2014-1
Completed 2014-2
Completed 2014-3
Completed 2014-4
Completed 2014-5
Completed 2014-6
Completed 2014-7
Completed 2014-9
Completed 2014-10
Completed 2014-11
Completed 2014-12
Completed 2015-1
Completed 2015-2
Completed 2015-3
Completed 2015-4
Completed 2015-5
Completed 2015-6
Completed 2015-7
Completed 2015-8
Completed 2015-9
Completed 2015-10
Completed 2015-11
Completed 2015-12
Completed 2016-1
Completed 2016-2
Completed 2016-3
Completed 2016-4
Completed 2016-5
Completed 2016-6
Completed 2016-7
Completed 2016-8
Completed 2016-9
Completed 2016-10
Completed 2016-11
Completed 2016-12
Completed 2017-1
Completed 2017-2
Completed 2017-3
Completed 2017-4
Completed 2017-5
Completed 2017-6
Completed 2017-7
Completed 2017-8
Completed 2017-9
Completed 2017-10
Completed 2017-11
Completed 2017-12
Completed 2018-1
Completed 2018-2
Completed 2018-3
Completed 2018-4
Completed 2018-5
Completed 2018-6
Completed 2018-7
Completed 2018-8
Completed 2018-9
Completed 2018-10
Completed 2018-11

In [22]:
data.tail(30)

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR,News
2018-10-08,2877.530029,2889.449951,2862.080078,2884.429932,2884.429932,3.330320e+09,-0.000395,-7.726477,0.0,27.369873,"In Boston, a Renewed Appreciation for the Babe..."
2018-10-09,2882.510010,2894.830078,2874.270020,2880.340088,2880.340088,3.520500e+09,-0.001419,-9.170761,0.0,20.560058,"Hurricane Michael, Hope Hicks, Google Plus: Yo..."
2018-10-10,2873.899902,2874.020020,2784.860107,2785.679932,2785.679932,4.501250e+09,-0.033416,-16.827594,0.0,95.479981,Learning With: ‘Banksy Painting Self-Destructs...
2018-10-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Corrections: October 11, 2018On Politics: Form..."
2018-10-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,On Politics: Trump’s Fed Tirade Could Have Las...
2018-10-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Game HuntingWhat Civil Rights History Can Teac...
2018-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Their Land Defiled, Forest People Swap Flower ..."
2018-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"What to Cook Right NowSears, N.F.L., Meghan Ma..."
2018-10-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth Warren Has a Native American Ancesto...
2018-10-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Why Does Japan Make It So Hard for Working Wom...
2018-10-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Women Get Feet in the Door of the Car Design B...
2018-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Letters to the EditorLearning With: ‘Elizabeth...
2018-10-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Remains of 63 Fetuses and Infants Found at Sec...
2018-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kathryn Paul, Aaron BergerTish Hurley, James R..."
2018-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Khashoggi, Russia, Italy: Your Monday Briefing..."
2018-10-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Do You Wish You Had a Different Morning Routin...
2018-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,What Is Turkey’s Game?When Trump Phones Friend...
2018-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Twitter Posts Another Profit as User Numbers D...
2018-10-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pipe Bombs, Plastics, Jamal Khashoggi: Your Fr..."
2018-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hotel Review: In Newport Beach, Calif., Buckin..."
2018-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sarah Cramer, Amy LeongThis Week’s Wedding Ann..."
2018-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Red Bulls Clinch M.L.S. Regular-Season TitleWh...
2018-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austerity Is Over, Britain Says, Despite Brexi..."
2018-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Samsung Reaps Record Profit, but Tougher Times..."
2018-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,California Today: Google Employees Around the ...
2018-11-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Michael Cunningham Sings Leonard CohenThe Perv...
2018-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30 of Our Best Thanksgiving Side DishesKnicks ...
2018-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Caroline McWilliams Alsup, Justin BrownAmanda ..."
2018-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Hall of Fame for Great Americans: As Forgo...
2018-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Word + Quiz: stymieThe Beginning of the End fo...

# Export new data as a csv file

In [23]:
data.to_hdf(created_data_path, 'data')

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:1471: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['News']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)