In [7]:
import pandas as pd
import numpy as np
import json

In [8]:
#Path here

base_path = 'data/created/'
sp500_path = 'data/sp/^GSPC.csv'
created_data_path = base_path + 'data500.h5'
technical500_path = base_path + 'technical500.h5'
news_path = '/data/news/'

In [9]:
df = pd.read_hdf(technical500_path, "data")
#df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
#df.dropna(axis=0, inplace=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR
Date,,,,,,,,,,
1990-01-04,358.760010,358.760010,352.890015,355.670013,355.670013,177000000,-0.008650,0.000000,NaN,5.869995
1990-01-05,355.670013,355.670013,351.350006,352.200012,352.200012,158530000,-0.009804,-0.036878,NaN,4.320007
1990-01-08,352.200012,354.239990,350.540009,353.790009,353.790009,140110000,0.004504,-0.005628,NaN,3.699981
1990-01-09,353.829987,354.170013,349.609985,349.619995,349.619995,155210000,-0.011857,-0.100883,NaN,4.560028
1990-01-10,349.619995,349.619995,344.320007,347.309998,347.309998,175990000,-0.006629,-0.198862,NaN,5.299988

# Import News data and convert it from Json to pandas dataframe

In [10]:
def open_json(year, month):
    "Save as pandas dataframe"
    file_str = news_path + str(year) + '-' + '{:02}'.format(month) + '.json'
    with open(file_str) as data_file:    
        NYTimes_data = json.load(data_file)
    
    date_list = []
    df = pd.DataFrame()  
    df['News'] = None
    

    for i in range(len(NYTimes_data["response"]["docs"][:])):
        if NYTimes_data["response"]["docs"][i]["pub_date"][:10] not in df.index:
            df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = NYTimes_data["response"]["docs"][:][i]['headline']['main']
        else:
            df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]].values + NYTimes_data["response"]["docs"][:][i]['headline']['main']
    
    df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
    df.sort_index(inplace=True)
    
    return df

# Merge technical data with News

In [11]:
def merge_news_price(df):
    all_news = pd.DataFrame()
    for i in range(1990, 2019):
        for j in range(1, 13):
            try:
                temp = open_json(i, j)
                all_news = all_news.append(temp)
                print("Completed {}-{}".format(i, j))
            except:
                pass
            
    all_news = pd.concat([df, all_news], axis=1)
    
    return all_news

In [12]:
data = merge_news_price(df)

In [13]:
data.tail(30)

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR
Date,,,,,,,,,,
2018-08-29,2900.620117,2916.500000,2898.399902,2914.040039,2914.040039,2791860000,0.005685,5.325410,100.000000,18.979980
2018-08-30,2908.939941,2912.459961,2895.219971,2901.129883,2901.129883,2802180000,-0.004440,5.323926,86.505523,18.820068
2018-08-31,2898.370117,2906.320068,2891.729980,2901.520020,2901.520020,2880260000,0.000134,4.991565,86.913317,14.590088
2018-09-04,2896.959961,2900.179932,2885.129883,2896.719971,2896.719971,3077060000,-0.001656,4.058180,81.896015,16.390137
2018-09-05,2891.590088,2894.209961,2876.919922,2888.600098,2888.600098,3241250000,-0.002807,2.487810,65.317100,19.800049
2018-09-06,2888.639893,2892.050049,2867.290039,2878.050049,2878.050049,3139590000,-0.003659,0.341082,43.686587,24.760010
2018-09-07,2868.260010,2883.810059,2864.120117,2871.679932,2871.679932,2946270000,-0.002216,-1.843844,25.762245,19.689942
2018-09-10,2881.389893,2886.929932,2875.939941,2877.129883,2877.129883,2731400000,0.001896,-3.135264,35.313498,15.250000
2018-09-11,2871.570068,2892.520020,2866.780029,2887.889893,2887.889893,2899660000,0.003733,-3.370631,54.170840,25.739991
2018-09-12,2888.290039,2894.649902,2879.199951,2888.919922,2888.919922,3264930000,0.000357,-3.548558,55.976006,15.449951
2018-09-13,2896.850098,2906.760010,2896.389893,2904.179932,2904.179932,3254930000,0.005268,-2.654621,76.723130,17.840088
2018-09-14,2906.379883,2908.300049,2895.770020,2904.979980,2904.979980,3149800000,0.000275,-2.068533,78.611813,12.530029
2018-09-17,2903.830078,2904.649902,2886.159912,2888.800049,2888.800049,2947760000,-0.005585,-2.934937,40.415660,18.820068
2018-09-18,2890.739990,2911.169922,2890.429932,2904.310059,2904.310059,3074610000,0.005355,-2.519369,77.030322,22.369873
2018-09-19,2906.600098,2912.360107,2903.820068,2907.949951,2907.949951,3280020000,0.001252,-2.062448,100.000000,8.540039
2018-09-20,2919.729980,2934.800049,2919.729980,2930.750000,2930.750000,3337730000,0.007810,-0.212997,100.000000,26.850098
2018-09-21,2936.760010,2940.909912,2927.110107,2929.669922,2929.669922,5607610000,-0.000369,0.845124,98.171531,13.799805
2018-09-24,2921.830078,2923.790039,2912.629883,2919.370117,2919.370117,3372210000,-0.003522,0.648601,80.734942,17.040039
2018-09-25,2921.750000,2923.949951,2913.699951,2915.560059,2915.560059,3285480000,-0.001306,0.038855,74.284876,10.250000
2018-09-26,2916.979980,2931.149902,2903.280029,2905.969971,2905.969971,3388620000,-0.003295,-1.257831,58.049771,27.869873
2018-09-27,2911.649902,2927.219971,2909.270020,2914.000000,2914.000000,3060850000,0.002759,-1.731054,68.761724,21.250000
2018-09-28,2910.030029,2920.530029,2907.500000,2913.979980,2913.979980,3432300000,-0.000007,-2.184509,60.872660,13.030029
2018-10-01,2926.290039,2937.060059,2917.909912,2924.590088,2924.590088,3364190000,0.003634,-1.843879,85.316045,23.080079
2018-10-02,2923.800049,2931.419922,2919.370117,2923.429932,2923.429932,3401880000,-0.000397,-1.797129,82.550473,12.049805
2018-10-03,2931.689941,2939.860107,2921.360107,2925.510010,2925.510010,3598710000,0.000711,-1.724414,87.508948,18.500000
2018-10-04,2919.350098,2919.780029,2883.919922,2901.610107,2901.610107,3496860000,-0.008203,-3.498974,30.536527,41.590088
2018-10-05,2902.540039,2909.639893,2869.290039,2885.570068,2885.570068,3328980000,-0.005543,-5.951191,0.000000,40.349854
2018-10-08,2877.530029,2889.449951,2862.080078,2884.429932,2884.429932,3330320000,-0.000395,-7.726477,0.000000,27.369873
2018-10-09,2882.510010,2894.830078,2874.270020,2880.340088,2880.340088,3520500000,-0.001419,-9.170761,0.000000,20.560058
2018-10-10,2873.899902,2874.020020,2784.860107,2785.679932,2785.679932,4501250000,-0.033416,-16.827594,0.000000,95.479981

# Export new data as a csv file

In [14]:
data.to_hdf(created_data_path, 'data')